
/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 500px}
.sidenav{
 
  background-color:white;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 168px;
  padding-left:100px;
}
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    background-color:white;
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;} 
}
